@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Roboto:wght@100&display=swap');


.App{
  width:100vh;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Nuecha";
}

.heading{
   text-transform: uppercase;
   font-size: 40px;
   margin: 30px 0;
   color: white;
   z-index: 1;
   text-align: center;
}